<div *ngIf="isModalNotSupport" class="flex justify-center items-center h-screen">
  <p-card header="Oh no!">
    <p class="m-0">
      Your browser does not support the Chrome AI. To use this chat, follow the steps below:
    </p>
    <div class="flex flex-col gap-2 mt-5">
      <p>
        1. Install Chrome 
        <a href="https://www.google.com/intl/en-US/chrome/dev/" class="text-blue-600" target="_blank" rel="noopener">Dev</a> 
        or 
        <a href="https://www.google.com/intl/en-US/chrome/canary/" class="text-blue-600" target="_blank" rel="noopener">Canary</a> version.
      </p>
      <p>
        2. Enter the flag 
        <a href="chrome://flags/#prompt-api-for-gemini-nano" class="text-blue-600">chrome://flags/#prompt-api-for-gemini-nanos</a> 
        and select 'Enabled'.
      </p>
      <p>
        3. Enter the flag 
        <a href="chrome://flags/#optimization-guide-on-device-model" class="text-blue-600">chrome://flags/#optimization-guide-on-device-model</a> 
        and select 'Enabled BypassPrefRequirement', then restart the browser.
      </p>
      <p>
        4. Go to 
        <a href="chrome://flags/#text-safety-classifier" class="text-blue-600">chrome://flags/#text-safety-classifier</a> 
        and disable the flag.
      </p>
      <p>5. Restart the browser and open the chat again.</p>
    </div>
  </p-card>
</div>

<div *ngIf="!isModalNotSupport && !isSessionCreated" class="flex justify-center items-center h-screen">
  <div class="text-center">
    <h1 class="text-4xl">Creating session. Please wait...</h1>
  </div>
</div>

<div *ngIf="!isModalNotSupport && isSessionCreated" class="container mx-auto h-screen overflow-hidden">
  <div class="flex flex-col h-full">
    <div *ngIf="history.length === 1" class="flex-grow flex flex-col text-center items-center justify-center gap-5">
      <h1 class="text-4xl">Hello, welcome to the chat</h1>
      <div>
        <p class="text-lg">This project was built with Angular and Chrome AI provider</p>
        <p class="text-lg">Please, write something to start the chat.</p>
      </div>
    </div>

    <div *ngIf="history.length > 1" class="flex-grow flex flex-col gap-5 xl:px-[24rem] py-10 p-5 overflow-auto">
      <div *ngFor="let message of history" class="flex flex-col gap-2">
        <app-message [message]="message"></app-message>
      </div>
      <div class="mt-32"></div>
    </div>
    <div class="fixed bottom-0 left-0 w-full bg-white flex flex-row gap-2 p-5 mb-8 justify-center items-center">
      <textarea
        pTextarea
        id="message"
        rows="2"
        cols="50"
        class="resize-none"
        [autoResize]="false"
        placeholder="Type your message..."
        aria-label="Message input"
      ></textarea>
      <p-button 
        label="Send" 
        (onClick)="sendMessage()" 
        [disabled]="isAnswer"
      ></p-button>
      <p-button 
        *ngIf="history.length" 
        label="Clear"
        severity="danger"
        (onClick)="clearMessage()" 
        [disabled]="isAnswer"
      ></p-button>
    </div>
    <p class="text-center text-sm justify-center mb-3 items-center text-gray-500">This AI can make mistakes. Check important info. (Tokens per second: {{this.tokensPerSecond}} Tokens: {{this.tokens}})</p>
  </div>
</div>